body {
  display: flex;
  margin: 0%;
  font-family: "League Spartan", sans-serif;
  /* max-height: 100%; */
}

main {
  display: flex;
  flex-direction: column;
}
.banner {
  max-width: 100%;
  position: relative;
  object-fit: cover;
  height: 100vh;
  z-index: -1;
}

.firstSection {
  padding: 4rem;
  position: absolute;
  bottom: 16rem;
}

.title-1 {
  display: flex;
  flex-direction: column;
  
}
.title-1 h3,
h1,
p {
  font-style: normal;
  font-family: "League Spartan";
  top: 15rem;
  left: 30px;
  font-size: 18px;
  color: rgb(227, 219, 235);
  line-height: 30px;
}
.logo {
  font-size: 20rem;
}
.title-1 > h3 {
  font-weight: 400;
  font-size: 36px;
}
.title-1 h1 {
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
}
.title-1 p {
  font-weight: 400;
  font-size: 20px;
}
.secondSection {
  position: absolute;
  width: 540px;
  height: 20rem;
  max-height: fit-content;
  background: #ffff;
  right: 2rem;
  top: 70%;
}
.forms {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  align-items: center;
  margin: 5rem;
  gap: 3rem;
}
.thirdSection {
  min-height: 60vh;
}
input {
  padding: 5px;
  margin: 5px 0;
  outline: none;
  border-color: transparent;
  border-bottom: 2px solid black;
}
input:focus,
input:active {
  border-color: transparent;
  border-bottom: 2px solid #1c87c9;
}
.name {
  width: 444px;
}
.email {
  width: 444px;
}
.date {
  width: 250px;
}
.time {
  width: 250px;
}

button {
  width: 300px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}
footer {
  background-color: #000000;
  min-height: 200px;
  padding: 2rem;
}
span {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
