@media (max-width: 970px) {
  .firstSection {
    display: flex;
    padding: 0 5rem;
    position: relative;
    top: -40rem;
  }
  .secondSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: unset;
    max-height: 15vh;
  }
  .imageSection-1 {
    bottom: 20rem;
    display: flex;
    flex-direction: column;
  }
  .landscape {
    width: 570px;
    height: 400px;
  }
  .textSection-2 {
    bottom: 20rem;
    align-items: center;
    text-align: center;
  }
  .thirdSection {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    gap: unset;
  }
  .imageSection-3 {
    top: 3rem;
  }
  .textSection-3 {
    text-align: center;
    bottom: 9rem;
  }
  .fourthSection {
    display: block;
  }
  .imageSection-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
  }
  .fifthImage{
    width: 380px;
    object-fit: cover;
  }
}
