body {
  display: flex;
  margin: 0%;
  font-family: "League Spartan", sans-serif;
  /* max-height: 100%; */
}
header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;

}
.headerPages {
  font-size: larger;
  text-decoration: none;
  color: black;
 

}
main {
  display: flex;
  flex-direction: column;
}

.firstSection {
  margin-top: -20rem;
  padding: 4rem;
  position: absolute;
  bottom: 28rem;
}

.title-1 {
  display: flex;
  flex-direction: column;
}
.title-1 h3,
h1,
p {
  font-style: normal;
  font-family: "League Spartan";
  top: 15rem;
  left: 30px;
  font-size: 18px;
  color: rgb(227, 219, 235);
  line-height: 30px;
}
.logo {
  font-size: 80px;
}
.title-1 > h3 {
  font-weight: 400;
  font-size: 20px;
}
.title-1 h1 {
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
}
.title-1 p {
  font-weight: 400;
  font-size: 20px;
}
.title-1 button {
  position: absolute;
  width: 245px;
  height: 64px;
  left: 165px;
  top: 558px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.banner {
  height: 100vh;
  max-width: 100%;
  position: relative;
  object-fit: cover;
  z-index: -1;
}
.secondSection {
  display: flex;
  min-height: 80vh;
}
.imageSection-1 {
}
.landscape {
  position: absolute;
  width: 540px;
  height: 704px;
  left: 180px;
  top: 840px;
}
.textSection-2 > h1 {
  line-height: 48px;
  letter-spacing: -0.5px;
  font-size: 48px;
  margin-left: 53rem;
  color: black;
  margin-top: 12rem;
}
.textSection-2 > p {
  font-size: 20px;
  margin-left: 53rem;
  color: black;
}
.backgroundImage {
  position: absolute;
  width: 871px;
  height: 319px;
  left: 0rem;
  top: 1100px;
  background: #5c6779;
  mix-blend-mode: normal;
  opacity: 0.08;
  border-radius: 100px 0px 0px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.thirdSection {
  display: flex;
  min-height: 80vh;
  flex-direction: row;
  margin-left: 12rem;
  gap: 10rem;
  align-items: center;
}
.textSection-3 h1 {
  line-height: 48px;
  letter-spacing: -0.5px;
  font-size: 48px;
  color: black;
}

.textSection-3 {
  padding-left: 7rem;
  font-size: 48px;
}
.imageSection-3 {
  /* display: flex; */
  /* margin-left: 19rem; */
  /* position: absolute; */
  width: 540px;
  height: 720px;
  padding-left: 2rem;
  /* left: 70rem; */
  /* top: 119rem; */
}
.fourthSection {
  display: flex;
  background-color: black;
  max-height: 50rem;
  


}
.textSection-4 {
  display: flex;
  flex-direction: column;
  padding: 24px;
  bottom: 3rem;
  margin: auto;
}
h2 {
  color: #ffffff;
}
.imageSection-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
}
/* div > p {
  color: brown;
} */
/* input[type = "text"]{
  border: solid 2px red
} */
