body {
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
header {
  display: flex;
  min-height: 3rem;
  justify-content: space-around;
  padding: 1rem;
}
.headerPages {
  font-size: larger;
  text-decoration: none;
  color: #000000;
}
main {
  display: inline-block;
}

.banner {
  height: 100vh;
  max-width: 100%;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

button {
  width: 245px;
  height: 64px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.firstSection {
  padding: 4rem;
  position: absolute;
  bottom: 28rem;
}
.logo {
  font-size: 20rem;
}
.title-1 {
  display: flex;
  flex-direction: column;
}

.title-1 h3,
h1,
p {
  font-style: normal;
  font-family: "League Spartan";
  top: 15rem;
  left: 30px;
  font-size: 18px;
  color: rgb(227, 219, 235);
  line-height: 30px;
}

.title-1 > h3 {
  font-weight: 400;
  font-size: 20px;
}
.title-1 h1 {
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
}
.title-1 p {
  font-weight: 400;
  font-size: 20px;
}
.title-1 > button {
  position: absolute;
  width: 245px;
  height: 64px;
  left: 165px;
  top: 558px;
}
.links {
  display: flex;
  justify-content: space-between;
}

.secondSection {
  display: flex;
  min-height: 80vh;
}

.landscape {
  position: absolute;
  width: 540px;
  height: 704px;
  left: 180px;
  top: 870px;
}
.textSection-2 > h1 {
  line-height: 48px;
  letter-spacing: -0.5px;
  font-size: 48px;
  margin-left: 53rem;
  color: black;
  margin-top: 12rem;
}
.textSection-2 > p {
  font-size: 20px;
  margin-left: 53rem;
  color: black;
}
.backgroundImage {
  position: absolute;
  width: 871px;
  height: 319px;
  left: 0rem;
  top: 1100px;
  background: #5c6779;
  mix-blend-mode: normal;
  opacity: 0.08;
  border-radius: 100px 0px 0px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.thirdSection {
  min-height: 80vh;
  margin-left: 5rem;
  align-items: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: -3rem;
}
.textSection-3 > h1 {
  line-height: 48px;
  letter-spacing: -0.5px;
  font-size: 48px;
  color: black;
}
.textSection-3 {
  font-size: 48px;
}
.imageSection-3 {
  margin-top: 3rem;
  width: 540px;
  height: 720px;
  margin-top: 4rem;
}

.fourthSection {
  display: flex;
  background-color: black;
  min-height: 40rem;
  padding-top: 3rem;
}
.textSection-4 {
  display: flex;
  flex-direction: column;
  padding: 24px;
  bottom: 3rem;
  margin: auto;
  padding-left: 4rem;
}
.description-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4rem;
}
h2 {
  color: #ffffff;
}
.imageSection-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4rem;
}
.fifthSection {
  min-height: 60vh;
  display: flex;
  flex-flow: row;
  justify-self: center;
}
.fifthImage {
  min-height: 600px;
  padding: 5rem;
  margin: 2rem;
}
.textSection-5 {
  align-self: center;
}
/* div > p {
  color: brown;
} */
/* input[type = "text"]{
  border: solid 2px red
} */
.sixthSection {
  padding: 4rem;
  position: absolute;
  bottom: -205rem;
  right: 22rem;
}
.description-6 {
  display: flex;
  gap: 5rem;
  z-index: -1;
}
.sixthImage {
  min-width: 100%;
  position: relative;
  object-fit: cover;
}
